@keyframes first_to_left {
	from {
		left: -50%;
	}
	to {
		left: 0%;
	}
}
@keyframes second_to_left {
	from {
		left: -100%;
	}
	to {
		left: -50%;
	}
}
@keyframes third_to_left {
	from {
		left: -150%;
	}
	to {
		left: -100%;
	}
}
@keyframes fouth_to_left {
	from {
		left: -200%;
	}
	to {
		left: -150%;
	}
}
@keyframes fifth_to_left {
	from {
		left: -250%;
	}
	to {
		left: -200%;
	}
}
@keyframes sixth_to_left {
	from {
		left: -300%;
	}
	to {
		left: -250%;
	}
}
@keyframes seventh_to_left {
	from {
		left: -350%;
	}
	to {
		left: -300%;
	}
}
@keyframes eighth_to_left {
	from {
		left: -400%;
	}
	to {
		left: -350%;
	}
}

/*---------------------------------------------------------------------------------*/

@keyframes first_to_right {
	from {
		left: 0%;
	}
	to {
		left: -50%;
	}
}
@keyframes second_to_right {
	from {
		left: -50%;
	}
	to {
		left: -100%;
	}
}
@keyframes third_to_right {
	from {
		left: -100%;
	}
	to {
		left: -150%;
	}
}
@keyframes fouth_to_right {
	from {
		left: -150%;
	}
	to {
		left: -200%;
	}
}
@keyframes fifth_to_right {
	from {
		left: -200%;
	}
	to {
		left: -250%;
	}
}
@keyframes sixth_to_right {
	from {
		left: -250%;
	}
	to {
		left: -300%;
	}
}
@keyframes seventh_to_right {
	from {
		left: -300%;
	}
	to {
		left: -350%;
	}
}
@keyframes eighth_to_right {
	from {
		left: -350%;
	}
	to {
		left: -400%;
	}
}

#two_blocks {
	flex-direction: column;
	justify-content: space-between;
	/*margin: 2px 10px -10px 10px;*/
}
#two_blocks > a {
	margin: 10px 0px;
	width: 100%;
}

.popular_block {
	width: 50%;
}

#first_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: first_to_left 0.6s linear 0s 1 normal forwards;
}
#second_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: second_to_left 0.6s linear 0s 1 normal forwards;
}
#third_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: third_to_left 0.6s linear 0s 1 normal forwards;
}
#fouth_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: fouth_to_left 0.6s linear 0s 1 normal forwards;
}
#fifth_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: fifth_to_left 0.6s linear 0s 1 normal forwards;
}
#sixth_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: sixth_to_left 0.6s linear 0s 1 normal forwards;
}
#seventh_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: seventh_to_left 0.6s linear 0s 1 normal forwards;
}
#eighth_radio_to_left:checked ~ .area_of_blocks > .popular_block {
	animation: eighth_to_left 0.6s linear 0s 1 normal forwards;
}

/*---------------------------------------------------------------------------------*/

#first_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: first_to_right 0.6s linear 0s 1 normal forwards;
}
#second_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: second_to_right 0.6s linear 0s 1 normal forwards;
}
#third_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: third_to_right 0.6s linear 0s 1 normal forwards;
}
#fouth_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: fouth_to_right 0.6s linear 0s 1 normal forwards;
}
#fifth_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: fifth_to_right 0.6s linear 0s 1 normal forwards;
}
#sixth_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: sixth_to_right 0.6s linear 0s 1 normal forwards;
}
#seventh_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: seventh_to_right 0.6s linear 0s 1 normal forwards;
}
#eighth_radio_to_right:checked ~ .area_of_blocks > .popular_block {
	animation: eighth_to_right 0.6s linear 0s 1 normal forwards;
}

#sixth_radio_to_left:checked ~ .label:nth-child(6 of .right),
#sixth_radio_to_left:checked ~ .label:nth-child(5 of .left),
#seventh_radio_to_left:checked ~ .label:nth-child(7 of .right),
#seventh_radio_to_left:checked ~ .label:nth-child(6 of .left),
#eighth_radio_to_left:checked ~ .label:nth-child(8 of .right),
#eighth_radio_to_left:checked ~ .label:nth-child(7 of .left),
#fifth_radio_to_right:checked ~ .label:nth-child(6 of .right),
#sixth_radio_to_right:checked ~ .label:nth-child(7 of .right),
#sixth_radio_to_right:checked ~ .label:nth-child(6 of .left),
#seventh_radio_to_right:checked ~ .label:nth-child(8 of .right),
#seventh_radio_to_right:checked ~ .label:nth-child(7 of .left),
#eighth_radio_to_right:checked ~ .label:nth-child(8 of .left),
#eighth_radio_to_right:checked ~ .disabled_right {
	display: block;
}
#fifth_radio_to_right:checked ~ .disabled_right {
	display: none;
}

/*---------------------------------------------------------------------------------*/

#first_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: first_to_left 0.6s linear 0s 1 normal forwards;
}
#second_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: second_to_left 0.6s linear 0s 1 normal forwards;
}
#third_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: third_to_left 0.6s linear 0s 1 normal forwards;
}
#fouth_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: fouth_to_left 0.6s linear 0s 1 normal forwards;
}
#fifth_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: fifth_to_left 0.6s linear 0s 1 normal forwards;
}
#sixth_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: sixth_to_left 0.6s linear 0s 1 normal forwards;
}
#seventh_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: seventh_to_left 0.6s linear 0s 1 normal forwards;
}
#eighth_radio_to_left_2:checked ~ .area_of_blocks > .popular_block {
	animation: eighth_to_left 0.6s linear 0s 1 normal forwards;
}

/*---------------------------------------------------------------------------------*/

#first_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: first_to_right 0.6s linear 0s 1 normal forwards;
}
#second_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: second_to_right 0.6s linear 0s 1 normal forwards;
}
#third_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: third_to_right 0.6s linear 0s 1 normal forwards;
}
#fouth_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: fouth_to_right 0.6s linear 0s 1 normal forwards;
}
#fifth_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: fifth_to_right 0.6s linear 0s 1 normal forwards;
}
#sixth_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: sixth_to_right 0.6s linear 0s 1 normal forwards;
}
#seventh_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: seventh_to_right 0.6s linear 0s 1 normal forwards;
}
#eighth_radio_to_right_2:checked ~ .area_of_blocks > .popular_block {
	animation: eighth_to_right 0.6s linear 0s 1 normal forwards;
}

#sixth_radio_to_left_2:checked ~ .label:nth-child(6 of .right),
#sixth_radio_to_left_2:checked ~ .label:nth-child(5 of .left),
#seventh_radio_to_left_2:checked ~ .label:nth-child(7 of .right),
#seventh_radio_to_left_2:checked ~ .label:nth-child(6 of .left),
#eighth_radio_to_left_2:checked ~ .label:nth-child(8 of .right),
#eighth_radio_to_left_2:checked ~ .label:nth-child(7 of .left),
#fifth_radio_to_right_2:checked ~ .label:nth-child(6 of .right),
#sixth_radio_to_right_2:checked ~ .label:nth-child(7 of .right),
#sixth_radio_to_right_2:checked ~ .label:nth-child(6 of .left),
#seventh_radio_to_right_2:checked ~ .label:nth-child(8 of .right),
#seventh_radio_to_right_2:checked ~ .label:nth-child(7 of .left),
#eighth_radio_to_right_2:checked ~ .label:nth-child(8 of .left),
#eighth_radio_to_right_2:checked ~ .disabled_right {
	display: block;
}
#fifth_radio_to_right_2:checked ~ .disabled_right {
	display: none;
}