#date_original:checked ~ #amount_of_blocks > section:nth-child(2) {
	order: 1;
}
#date_original:checked ~ #amount_of_blocks > section:nth-child(1) {
	order: 2;
}
#date_original:checked ~ #amount_of_blocks > section:nth-child(3) {
	order: 3;
}
#date_library:checked ~ #amount_of_blocks > section:nth-child(2) {
	order: 1;
}
#date_library:checked ~ #amount_of_blocks > section:nth-child(3) {
	order: 2;
}
#date_library:checked ~ #amount_of_blocks > section:nth-child(1) {
	order: 3;
}